
.top{
	height: 41px;
	background: #163789;
	line-height: 41px;
	margin: 0px auto2px;
}
.top1{
	width: 1170px;
	margin:0px;
	font-size: 14px;
	color: white;
	position: relative;
}
.call{
	display: inline-block;
	padding-left: 14px;
}
ul.first{
	line-height: 41px;
	float: right;
	margin: 0px;
}
.first li{
	display: inline;
	padding-left: 20px;
	text-align: center;
}
.first li:hover,.first li:hover a{
	color: gray;
}
.first a{
	color: white;
	text-align: center;
	text-decoration: none;
}
.top2{
	margin: 0px;
	height: 100px;
	width: 1170px;
	padding-top: 10px;
}
.tu{
	display: inline;
}
ul.second{
	list-style: none;
	font-size: 20px;
	color: gray;
	position: absolute;
	top: 60px;
	left: 380px;
}
.second li{
	display: inline;
	line-height: 40px;
	text-align: center;
	line-height: 60px;
	padding-right: 30px;
	border-right: 1px solid black;
	position: relative;
}
.second li:hover{
	color: darkblue;
}
.sousuo{
	float: right;
	right: 100px;
	height: 30px;
	vertical-align: middle;
	margin-top: 40px;
	line-height: 30px;
	border: 1px solid gray;
}
.yincang{
	border:white;
}
.third{
	width: 545px;
	height: 10px;
	position: absolute;
	top: 20px;
}
ul.four{
	line-height: 20px;
	list-style: none;
	display: none;
}
.four li{
	margin-right: 10px;
	position: relative;
}
.second .third:hover .four{
	font-size: 12px;
	text-align: center;
	background-color: white;
	display: block;
}
.mid{
	padding-left: 20px;
	margin-top: 100px;
}
.title{
	display: inline-block;s
}
.zhong{
	color: cornflowerblue;
	margin-left: 10px;
	border-left: 2px solid cornflowerblue;
	padding-left: 10px;
	text-align: center;
	display: inline-block;
}
.you{
	display: inline-block;
	font-size: 10px;
	padding-top: 30px;
	line-height: 20px;
	text-align: center;
	float: right;
	padding-right: 40px;
}
span:hover{
	color: #6495ED;
}
.mid1{
	text-align: center;
	padding-top: 20px;
}
