doctype transitional
head
    title work
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='../stylesheets/website.css', rel='stylesheet', type='text/css')
.main
    .header
        .block_header
            .search
                form#form1(name='form1', method='post', action='')
                    label
                        span
                            input#textfield.keywords(name='q', type='text', maxlength='50', value='Search...')
                        input.button(name='b', type='image', src='images/search.gif')
            .header_text
                a(href='index1') index
                |  |
                a(href='website2') Client Login
            .clr
            .logo
                a(href='website')
                    img(src='images/logo.gif', width='297', height='81', border='0', alt='logo')
            .menu
                ul
                    li
                        a.active(href='website')
                            span &#x4E3B;&#x9875;
                    li
                        a(href='website2')
                            span &#x5DE5;&#x4F5C;&#x5185;&#x5BB9;
                    li
                        a(href='website3')
                            span &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                    li
                        a(href='website4')
                            span &#x6211;&#x4EEC;&#x7684;&#x670D;&#x52A1;
                    li
                        a(href='website5')
                            span &#x514D;&#x8D39;&#x54A8;&#x8BE2;
            .clr
        .clr
    .clr
    .twitter_blog
        .twitter
            h2 Our Portfolio
            .bird
                img(src='images/twitter.gif', alt='picture', width='75', height='80')
                p
                    br
                    a(href='website') &#x6211;&#x4EEC;&#x7684;&#x5DE5;&#x4F5C;&#x5185;&#x5BB9;
    .clr
    .body
        .body_resize
            .port
                h2
                img.screen(src='images/port_1.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .port
                h2
                img.screen(src='images/port_2.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .bg
            .port
                h2
                img.screen(src='images/port_3.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .port
                h2
                img.screen(src='images/port_4.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .bg
            .port
                h2
                img.screen(src='images/port_5.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .port
                h2
                img.screen(src='images/port_6.jpg', alt='picture', width='434', height='164')
                p Design by liyongwen
                p
                    a(href='website2')
                        img(src='images/visit.gif', alt='picture', width='83', height='23', border='0')
            .bg
            .buttoms
                a(href='website2') 1
                a(href='website2') 2
                a(href='website2') 3
                a(href='website2') 4
                a(href='website2') 5
            .clr
    .FBG
        .FBG_resize
            .blooga
                h2 &#x4E3A;&#x4EC0;&#x4E48;&#x9009;&#x62E9;&#x6211;&#x4EEC;&#xFF1F;
                img(src='images/img_2.jpg', alt='picture', width='61', height='61')
                p
                    strong &#x6211;&#x53F8;&#x53EF;&#x4EE5;&#x8BBE;&#x8BA1;&#x5404;&#x79CD;&#x4E0D;&#x540C;&#x98CE;&#x683C;&#x7684;&#x7F51;&#x9875;
                    br
                .bg
                img(src='images/img_3.jpg', alt='picture', width='61', height='61')
                p
                    strong &#x4E3A;&#x60A8;&#x63D0;&#x4F9B;&#x4E00;&#x7AD9;&#x5F0F;&#x4E92;&#x8054;&#x7F51;&#x670D;&#x52A1;
                    br
                .bg
                img(src='images/img_4.jpg', alt='picture', width='61', height='61')
                p
                    strong &#x4E13;&#x4E1A;&#x4EA7;&#x54C1;&#x795D;&#x60A8;&#x8F7B;&#x677E;&#x83B7;&#x53D6;&#x5BA2;&#x6237;
                    br
            .blooga
                h2 &#x6211;&#x4EEC;&#x7684;&#x4F18;&#x52BF;
                .clients
                    p(style='padding:15px 0 0 15px;') &#x667A;&#x80FD;&#x65F6;&#x4EE3;,&#x4E00;&#x4E2A;&#x54CD;&#x5E94;&#x5F0F;&#x600E;&#x4E48;&#x7528;&#x90FD;&#x5408;&#x9002;&#x3010;&#x7535;&#x8111;&#x3001;&#x5E73;&#x677F;&#x3001;&#x624B;&#x673A;&#x3011;&#x5168;&#x9762;&#x7EFD;&#x653E;,&#x8BA9;&#x7F51;&#x7AD9;&#x5728;&#x4EFB;&#x4F55;&#x8BBE;&#x5907;&#x4E0A;&#x663E;&#x5F97;&#x7B80;&#x5355;&#x81EA;&#x7136;,&#x7528;&#x8D77;&#x6765;&#x8F7B;&#x677E;&#x81EA;&#x5982;,&#x600E;&#x4E48;&#x770B;&#x90FD;&#x89C9;&#x5F97;&#x8212;&#x670D;,&#x5999;&#x4E0D;&#x53EF;&#x8A00;&#x3002;
                    p
                        strong(style='float:right;') &#x54CD;&#x5E94;&#x5F0F;&#x8BBE;&#x8BA1;
                    p &nbsp;
                .clients
                    p(style='padding:15px 0 0 15px;') &#x8BBF;&#x95EE;&#x7EDF;&#x8BA1;&#x3001;&#x5728;&#x7EBF;&#x5BA2;&#x670D;&#x3001;&#x7F51;&#x7AD9;&#x5B89;&#x5168;&#x68C0;&#x67E5;&#x3001;&#x6574;&#x7AD9;&#x5907;&#x4EFD;&#x6062;&#x590D;;&#x6587;&#x7AE0;&#x3001;&#x4EA7;&#x54C1;&#x3001;&#x8868;&#x5355;&#x3001;&#x591A;&#x8BED;&#x8A00;&mldr;&#x4E3A;&#x4F01;&#x4E1A;&#x800C;&#x8BBE;&#x8BA1;&#x7684;60&#x591A;&#x9879;&#x529F;&#x80FD;&#x3002;&#x5185;&#x5BB9;&#x53D1;&#x5E03;&#x548C;&#x7EF4;&#x62A4;&#x8FD0;&#x8425;&#x66F4;&#x52A0;&#x5F97;&#x5FC3;&#x5E94;&#x624B;&#x3002;
                    p
                        strong(style='float:right;') &#x529F;&#x80FD;&#x6EE1;&#x8DB3;&#x6240;&#x9700;
            .blooga
                h2 &#x6211;&#x4EEC;&#x7684;&#x8054;&#x7CFB;&#x65B9;&#x5F0F;
                p
                    span
                        strong &#x5730;&#x5740;:
                    | &#x534E;&#x4E1C;&#x4EA4;&#x901A;&#x5927;&#x5B66;&#x5317;&#x533A;
                    br
                    span
                        strong &#x7535;&#x8BDD;:
                    |  +086-1234-5678
                    br
                    span
                        strong QQ:
                    |  123456789
                    br
                    span
                        strong E-mail:
                    |  mail@666.com
        .clr
.footer
    .footer_resize
        a(href='website')
            img(src='images/footer_logo.gif', alt='picture', width='184', height='102', border='0')
        p.leftt
        p.rightt
            | Design by
            a(href='website') &#x9ECE;&#x548F;&#x6587;
        .clr
    .clr