@charset "utf-8";
body { margin:0; padding:0; width:100%;}
html { padding:0; margin:0;}

/* main */
.main {width:100%; padding:0; margin:0 auto; }

/********** header **********/
.header { background: #373737 url(images/header_bg.gif) top repeat-x; padding:0; margin:0; }
.block_header {margin:0 auto; width:950px; padding:0; border:none;  }
/* header_text*/
.header_text { width:100px; float: right; font: normal 11px Tahoma, Geneva, sans-serif; color:#606060; padding:13px 10px 0 0; margin:0;}
.header_text a {font: normal 11px Tahoma, Geneva, sans-serif; color:#606060; text-decoration:none; line-height:1.2em;}
.header_text a:hover { text-decoration:underline;}
/* search */
.search { padding:0; margin:0; float:left; height:40px;}
.search form { display:block; float:left; padding:7px 0 0 0;}
.search form span { display:block; float:left; background:url(images/search_bg.gif) left top no-repeat; margin:0 5px; padding:0 6px; width:198px;}
.search form .keywords { float:left; border:0; background:none; height:13px; width:198px; padding:6px 0; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#a1a1a1; }
.search form .button { float:left; margin:0; padding:1px 0 0 0;}
/* logo */
.logo { float:left; padding:0; margin:0; width:297px;}
/* menu */
.menu { padding:0; margin:0; width:380px; float:right; height:39px;}
.menu ul { padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 3px; border:0;}
.menu ul li a { float:left; margin:0 1px 0 0; padding:10px 0; color:#c0c0c0; font:normal 12px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a span { padding:10px 10px; background:none;}
.menu ul li a:hover { color:#fff;  background: url(images/r_menu.gif) no-repeat right ;}
.menu ul li a:hover span {color:#fff; background:url(images/l_menu.gif) no-repeat  left ;}
.menu ul li a.active {color:#fff; background:url(images/r_menu.gif) no-repeat  right ;}
.menu ul li a.active span {color:#fff;   background:url(images/l_menu.gif) no-repeat  left ;}
/*header_text_bg*/
.header_text_java_bg { margin:0; padding:0; background:#353535 url(images/slider_bg.gif) top repeat-x;}
/*header_text*/
.header_text_java { height:294px; margin:0 auto; padding:0; width:972px; background: url(images/slider_bg_main.gif) top no-repeat;}
.header_text_java .div .left1 { float:right; width:370px; padding:30px 0 0 0; margin:0; }
.header_text_java .div .left1 h2 {font:bold 18px  Arial, Helvetica, sans-serif; color:#fff;  padding:20px 0 10px 0; margin:0;}
.header_text_java .div .left1 img { float:left; margin:20px 20px 0 0; padding:0;}
.header_text_java .div .left1 ul { width:190px; float:right; margin:10px 10px; padding:0; list-style:none;}
.header_text_java .div .left1 li { font: normal 11px Arial, Helvetica, sans-serif; color:#5c5c5c; padding:5px 0 5px 15px; margin:0; background:url(images/slider_ul_li.gif) left no-repeat;}
.header_text_java p { font:normal 11px  Arial, Helvetica, sans-serif; color:#c0bfbf; padding:0; margin:0; line-height:1.8em;}

/*twitter_blog*/
.twitter_blog { margin:0; padding:0; background:url(images/twitter_bg.gif) top repeat-x; height:80px;}
.twitter { width:950px; margin:0 auto; padding:0;}
.twitter h2 { width:200px; float:left; font: bold 20px Arial, Helvetica, sans-serif; color:#a3a3a3; padding:15px 0 0 10px; margin:0;}
.twitter .bird { width:370px; float:right; margin:0; padding:0;}
.twitter .bird img { float:left; margin:0 10px; padding:0;}
.twitter .bird p { font: bold 12px Arial, Helvetica, sans-serif; color:#6b6b6b; padding:10px 0 0 0; margin:0; line-height:1.8em;}
.twitter .bird a { font: normal 12px Arial, Helvetica, sans-serif; color:#26b1b2; text-decoration:none;}
/********** block index **********/
.body { background:#ebebeb; border-bottom:1px solid #fff; }
.body h2 { font:bold 14px Arial, Helvetica, sans-serif; color:#2c2c2c; border-bottom:1px solid #cccccc; padding:10px 5px; margin:0 0 10px 0;}
.body h3 { font:bold 18px Arial, Helvetica, sans-serif; color:#373737;  padding:10px 5px; margin:0 0 10px 0;}
.body h4 { font:bold 12px Arial, Helvetica, sans-serif; color:#373737;  padding:10px 5px; margin:0 0 10px 0;}
.body p { font:normal 11px Arial, Helvetica, sans-serif; color:#6f6f6f; line-height:1.8em; padding:5px 5px; margin:0;}
.body p.ul_li { width:300px; float:right; background:url(images/p_ul_li.gif) left no-repeat; padding:5px 20px; margin:0; font: normal 11px Arial, Helvetica, sans-serif; color:#6f6f6f;}
.body p.grey { font: normal 11px Arial, Helvetica, sans-serif; color:#afaeae; line-height:1.8em; padding:5px 5px; margin:0;}
.body p span { color:#383838;}
.body a { font:bold 12px Arial, Helvetica, sans-serif; color:#26b1b2; text-decoration:none;}
.body em { color:#383838;}
.body img { float: left; margin:10px 25px 10px 5px; padding:0;}
.body img.nomargin { float:none; text-align:center; margin:10px 1px; padding:0;}
.body img.work { float:left; margin:10px 30px 10px 10px; padding:0;}
.body_resize { width:950px; margin:0 auto; padding:0;}
.right { width:527px; float:left; margin:20px 5px 10px 5px; padding:5px;}
.right ul { list-style:none; margin:5px 20px; padding:0;}
.right li { font: bold 12px Arial, Helvetica, sans-serif; color:#6f6f6f; padding:5px 20px; margin:0; background:url(images/about_ul_li.gif) left no-repeat;}
.left { width:371px; float:left; margin:20px 5px 10px 5px; padding:5px;}
.port { width:452px; float:left; margin:0; padding:10px;}
.port img.screen { float:none; margin:0; padding:5px;}
.buttoms { width:200px; margin:10px auto; text-align:center; padding:0;}
.buttoms a { background:#e1e1e1; font: bold 12px Arial, Helvetica, sans-serif; color:#373737; text-decoration:none; padding:3px 8px; margin:0 3px;}
.buttoms a:hover { color:#fff; background:#1f1f1f;}
/*FBG*/
.FBG { border-top:1px solid #d4d4d4; background:#e5e5e5; margin:0; padding:0;}
.FBG_resize { width:950px; margin:0 auto; padding:0;}
.FBG_resize h2 { font:bold 14px Arial, Helvetica, sans-serif; color:#2c2c2c; border-bottom:1px solid #cccccc; padding:10px 5px; margin:0 0 10px 0;}
.FBG_resize p { font:normal 11px Arial, Helvetica, sans-serif; color:#6f6f6f; line-height:1.8em; padding:5px 5px; margin:0;}
.FBG_resize p span { color:#26b1b2;}
.FBG_resize img { float:left; margin:10px 20px 10px 10px; padding:0;}
.FBG_resize .blooga { width:300px; float:left; margin:10px 5px; padding:10px 2px;}
.FBG_resize .clients { width:292px; height:132px; margin:10px auto; padding:0; background: url(images/say_bg.gif) top no-repeat;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#252525; font: bold 14px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left;}
#contactform label span { color:#F00;}
#contactform input.text { width:380px; border:1px solid #dcdcdc; margin:10px 0; padding:5px 2px; height:16px; background:#f0f0f0; float:left;}
#contactform textarea { height:300px; width:380px; border:1px solid #dcdcdc; margin:10px 0; padding:2px; background:#f0f0f0; float:left;}
#contactform li.buttons input { padding:3px 0 3px 110px; margin:0; border:0; color:#FFF; float:left;}
p.response { text-align:center; color:#666666; font: normal 11px  Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto;}
/*************footer**********/
.footer {padding:0; margin:0; border-top:1px solid #fff; background:#353535;}
.footer_resize {width:950px; margin:0 auto; padding:0; }
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#909090; padding:10px 0 0 0;}
.footer a { font:bold 11px Arial, Helvetica, sans-serif; color:#909090; text-decoration:underline; padding:5px 5px; margin:0;}
.footer img {margin:0px 5px; padding:0; float:left;}
.footer p.leftt { text-align:right; width:30%; margin:0; padding:40px 0; float:left;}
.footer p.rightt { text-align:right; width:40%; margin:0; padding:40px 0; float:right;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #dad9d9; padding:0; margin:20px 0; background:none; line-height:0;}