doctype html
head
    meta(charset='utf-8')
    title 饮料公司
    link(rel='stylesheet', href='../stylesheets/jinmailang.css', type='text/css')
.top
    .top1
        .xin
            .call 客服热线：0391-510699
            ul.first
                li 联系我们
                li 人才招聘
                li 信息系统
                li 招标公告
                li 供应商门户
                li
                    a(href='jinmailang.html') 返回首页
    .top2
        .tu
            img(src='../images/logo.png')
        .nav
            ul.second
                li
                    | 走进今麦郎
                    .third
                        ul.four
                            li 企业介绍
                            li 企业文化
                            li 企业荣誉
                            li 发展历程
                            li 全国布局
                li 旗下品牌
                li 活动&咨询
                li 良心品质
        .sousuo
            input.yincang(type='text', style='height:20px;width: 200px;')
            input(type='image', src='../images/8_03.png')
.mid
    h2.title(style='color: #6495ED;')
        | 旗下品牌
        span.zhong PRODUCTS
    span.you
        | 你的位置：首页&gt旗下品牌
    hr
    .over
        .mid1
            img(src='../images/7mvcwhhFIy9ibFDg.jpg')
            img(src='../images/jPSVUekgSRWLJ4SS.jpg')
            img(src='../images/vtFyi4hxJ4DfoICp.png')
            img(src='../images/sOSph4ABptPgm56B.jpg')
    .pailie
        table
            tr
                td(colspan='2')
                    img(src='../images/13.jpg', style='width: 585px;height: 280px;')
                    p.jiege  天然极品,人间美味￥30
                td(colspan='2')
                    img(src='../images/14.jpg', style='width: 585px; height: 280px;')
                    p.jiege 健康原生态，绿色好果汁￥40
            tr
                td
                    img(src='../images/9.jpg')
                    p.jiege 如饮$10.00
                    br
                td
                    img(src='../images/10.jpg')
                    p.jiege 日加满￥8.00
                    br
                td
                    img(src='../images/11.jpg')
                    p.jiege 红牛￥5.00
                    br
                td
                    img(src='../images/12.jpg')
                    p.jiege 劲松￥4.00
            tr
                td
                    img(src='../images/3.jpg')
                    p.jiege 2摄氏度矿泉水￥2.00
                td
                    img(src='../images/4.jpg')
                    p.jiege VEEN矿泉水￥100.00
                td
                    img(src='../images/2.jpg')
                    p.jiege 王冠￥1100.00
                td
                    img(src='../images/1.jpg')
                    p.jiege 最豪华的矿泉水￥11100.00
            tr
                td(colspan='2')
                    img(src='../images/7.jpg', style='width: 585px;height: 280px;')
                    p.jiege 韩饮天下￥4.00
                td(colspan='2')
                    img(src='../images/8.jpg', style='width: 585px;height: 280px;')
                    p.jiege 英雄汽盖￥5.00
.last
    .last1
        .last2
            ul
                | &#x8D70;&#x8FDB;&#x4ECA;&#x9EA6;&#x90CE;
                li &#x4F01;&#x4E1A;&#x4ECB;&#x7ECD;
                li &#x4F01;&#x4E1A;&#x6587;&#x5316;
                li &#x4F01;&#x4E1A;&#x8363;&#x8A89;
                li &#x53D1;&#x5C55;&#x5386;&#x7A0B;
                li &#x5168;&#x56FD;&#x5E03;&#x5C40;
        .last2
            ul
                | &#x65D7;&#x4E0B;&#x54C1;&#x724C;
                li &#x74F6;&#x88C5;&#x6C34;
                li &#x679C;&#x6C41;&#x7CFB;&#x5217;
                li &#x80FD;&#x91CF;&#x996E;&#x6599;
                li &#x78B3;&#x9178;&#x996E;&#x6599;
                li &#x6A59;&#x6C41;
        .last2
            | &#x6D3B;&#x52A8;&amp;&#x54A8;&#x8BE2;
            li &#x7CBE;&#x5F69;&#x6D3B;&#x52A8;
            li &#x4F01;&#x4E1A;&#x65B0;&#x95FB;
            li &#x4EBA;&#x5DE5;&#x670D;&#x52A1;
            li &#x5730;&#x7406;&#x4F4D;&#x7F6E;
            li &#x5546;&#x54C1;&#x7B80;&#x4ECB;
        .last2
            | &#x826F;&#x5FC3;&#x54C1;&#x8D28;
            li &#x5929;&#x8D4B;&#x597D;&#x6C34;
            li &#x771F;&#x6750;&#x5B9E;&#x6599;
            li &#x5B9E;&#x529B;&#x7814;&#x53D1;
            li &#x5148;&#x8FDB;&#x5DE5;&#x827A;
            li &#x5B89;&#x5168;&#x4FDD;&#x969C;
        .last2
            img(src='../images/rexian.png')
        p.last3 &#x4ECA;&#x9EA6;&#x90CE;&#x996E;&#x54C1;&#x80A1;&#x4EFD;&#x6709;&#x9650;&#x516C;&#x53F8; &#x4EAC;ICP&#x5907;09077315&#x53F7;
        .last4
            img(src='../images/image1.png')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x4EAC;&#x516C;&#x7F51;&#x5B89;&#x5907; 11371246275421756&#x53F7;
.ybl_div
    ul.ybl
        li
            img.img_show(src='../images/55cad219421bee03a801775e7309b920.png')
            img.dianji(src='../images/41f858550f42eb1770b97faf219ae215.png')
            span &#x4EBA;&#x5DE5;&#x670D;&#x52A1;
        li
            img.img_show(src='../images/d7db56d1d850113f016c95e289e36efa.png')
            img.dianji(src='../images/692a6c3b0a93a24f74a29c0f9d68ec71.png')
            span &#x8D2D;&#x7269;&#x8F66;
