doctype transitional
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title &#x5149;&#x672F;&#x5F71;&#x4E1A;&mdash;&mdash;&#x9996;&#x9875;
    link(href='../stylesheets/yingshi1.css', rel='stylesheet', type='text/css')
    link(href='../stylesheets/yingshi2.css', rel='stylesheet', type='text/css')
#navbar
    .logo
        img(src='../images/logo.jpg', width='100')
    ul
        li
            a(href='index.html') &#x9996;&#x9875;
            | |
        li
            a(href='#') &#x5149;&#x672F;&#x4ECB;&#x7ECD;
            | |
        li
            a(href='#') &#x5149;&#x672F;&#x4E1A;&#x52A1;
            | |
        li
            a(href='#') &#x6210;&#x529F;&#x6848;&#x4F8B;
            | |
        li
            a(href='#') &#x8054;&#x7CFB;&#x65B9;&#x5F0F;
            | |
        li
            a(href='#') &#x62DB;&#x8058;&#x8981;&#x6C42;
            | |
#header
    img(src='../images/zs_1.JPG', height='300', width='1000')
#content
    .product
        h1
            a(href='#') &#x4EA7;&#x54C1;&#x5C55;&#x793A;
        #demoLeft
            .indemo
                #demo1
                    a(href='#')
                        img(src='../images/product.jpg')
                    a(href='#')
                        img(src='../images/p2.jpg')
                    a(href='#')
                        img(src='../images/p3.jpg')
                    a(href='#')
                        img(src='../images/p4.jpg')
                    a(href='#')
                        img(src='../images/p5.jpg')
                    a(href='#')
                        img(src='../images/p6.jpg')
                    a(href='#')
                        img(src='../images/p1.jpg')
                #demo2
    .jianjie
        h1
            a(href='jianjie.html') &#x516C;&#x53F8;&#x7B80;&#x4ECB;
        table(width='100%', border='0')
            tr
                td(width='17%') &nbsp;
                td(width='83%')
                    p &nbsp;
                    |             2019&#x5E74;&#x6210;&#x7ACB;&#x5149;&#x672F;&#x5F71;&#x50CF;&#x5DE5;&#x4F5C;&#x5BA4;&#xFF0C;&#x521B;&#x529E;&#x5149;&#x672F;&#x54C1;&#x724C;&#x3002;2019&#x5E74;&#x6B63;&#x5F0F;&#x6CE8;&#x518C;&#x5149;&#x672F;&#x5F71;&#x4E1A;&#x516C;&#x53F8;&#xFF0C;&#x6CE8;&#x518C;&#x8D44;&#x91D1;1000&#x4E07;&#x3002;&#x5149;&#x672F;&#x603B;&#x90E8;&#x5750;&#x843D;&#x6C5F;&#x897F;&#x5357;&#x660C;&#x5E02;&#xFF0C;&#x4F4D;&#x4E8E;&#x9752;&#x5C71;&#x6E56;&#x533A;&#x534E;&#x4E1C;&#x4EA4;&#x901A;&#x5927;&#x5B66;&#x5185;&#xFF0C;&#x603B;&#x90E8;&#x8FD0;&#x8425;&#x9762;&#x79EF;&#x8D85;&#x8FC7;1000&#x5E73;&#x7C73;&#x3002;&#x5DF2;&#x8BBE;&#x7ACB;3&#x5BB6;&#x5236;&#x4F5C;&#x4E2D;&#x5FC3;&#xFF0C;&#x5176;&#x4E2D;&#x5149;&#x672F;&#x4F20;&#x5A92;&#x65D7;&#x4E0B;&#x516C;&#x53F8;&#x5149;&#x672F;&#x5F71;&#x4E1A;&#x6709;&#x9650;&#x516C;&#x53F8;&#x4F4D;&#x4E8E;&#x6DF1;&#x5733;&#x5E02;&#xFF0C;&#x7EB5;&#x5411;&#x65F6;&#x4EE3;&#x6587;&#x5316;&#x4F20;&#x64AD;&#x6709;&#x9650;&#x516C;&#x53F8;&#x4F4D;&#x4E8E;&#x73E0;&#x6D77;&#x5E02;&#x3002;
                    br
                    |            &#x5149;&#x672F;&#x62E5;&#x6709;&#x4E13;&#x4E1A;&#x5236;&#x4F5C;&#x56E2;&#x961F;&#xFF0C;&#x5148;&#x8FDB;&#x7684;&#x5927;&#x7535;&#x5F71;&#x5668;&#x68B0;&#x8BBE;&#x5907;&#xFF0C;&#x4E91;&#x96C6;&#x65B0;&#x5A92;&#x4F53;&#x5404;&#x7C7B;&#x8D44;&#x6DF1;&#x521B;&#x610F;&#x4EBA;&#xFF0C;&#x5C06;&#x521B;&#x610F;&#x4F5C;&#x4E3A;&#x516C;&#x53F8;&#x7684;&#x5B9E;&#x529B;&#x57FA;&#x7840;&#xFF0C;&#x501F;&#x6B27;&#x7F8E;&#x601D;&#x6F6E;&#x4E3A;&#x8DF3;&#x677F;&#xFF0C;&#x8D85;&#x8D8A;&#x4F20;&#x7EDF;&#x601D;&#x7EF4;&#x9650;&#x5236;&#xFF0C;&#x5C06;&#x7ED9;&#x5BA2;&#x6237;&#x4E00;&#x4E2A;&#x6709;&#x6E29;&#x5EA6;&#x6709;&#x751F;&#x547D;&#x7684;&#x89C6;&#x89C9;&#x611F;&#x53D7;&#x548C;&#x9707;&#x64BC;&#x6548;&#x679C;&#x3002;
#footer
    p tel :  400-808-6080 &#x5B98;&#x7F51; - www.ilovelm.com  e-mail : 123456@qq.com
    p
